{% extends "select_geoname/__base.html" %}
{% load staticfiles %}
{% block title %}Search{% endblock title %}

{% block stylesheets %}

<link rel="stylesheet" href="{% static 'css/bootstrap-multiselect.css' %}"></link>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css" type="text/css">
{% endblock stylesheets %}

{% block content %}

<div class="container">
    <h1 style="text-align:center;" class="towards_bottom" >Where Are You</h1>
    <form action="" method="GET" id="submit_form">
    <div class="row towards_bottom">
        <div class="col-md-1">
        </div>
            <div class="col-md-3">
                <div class="dropdown" >
                    <select id="id_country" class="form-control" name="countries" onchange="load_states();">
                      <option value="">Select Country</option>
                      {% for country in countries %}
                      <option value="{{country.id}}">{{country.name}}</option>
                      {% endfor %}
                    </select>
                    <small class="center red" id="id_country_error"></small>
                </div>
            </div>
            <div class="col-md-3">
                <div class="dropdown">
                    <select class="form-control" id="id_states" name="states" onchange="load_cities();" >
                        <option value="">Select State</option>
                        <option class="red" value="">Please Select Country</option>
                    </select>
                    <small class="center red" id="id_state_error"></small>
                </div>
            </div>
            <div class="col-md-3">
                <div class="dropdown">
                    <select class="form-control" id="id_cities" name="cities">
                      <option value="">Select City</option>
                      <option class="red" value="">Please Select State</option>
                    </select>
                    <small class="center red" id="id_city_error"></small>
                </div>
            </div>
            <div class="col-md-2">
                <a onclick="submit_form()" class="btn btn-success" value="Submit">Submit</a>
            </div>
        </div>

        <div class="more_towards_bottom">
            <h4 class="center" id="id_data"></h4>
        </div>
    </form>
</div>

{% endblock content %}


{% block js %}

<script>

function load_states(){
    country_id = $("#id_country").val();
    if(country_id != "" ){
        data = {
            "action":"for_states",
            "country_id":country_id,
        }
        $.ajax({
            url: "{% url 'where_are_you' %}",
            type: "GET",
            data: data,
            success: function(response) {
                $("#id_states").html(response.data);
               }
        })
    }
}

</script>

<script>

function load_cities(){
    country_id = $("#id_country").val();
    if(country_id != "" ){
        state_id = $("#id_states").val();
        data = {
            "action":"for_cities",
            "state_id":state_id,
        }
        $.ajax({
            url: "{% url 'where_are_you' %}",
            type: "GET",
            data: data,
            success: function(response) {
                $("#id_cities").html(response.data);
               }
        })
    }
}

</script>

<script>

function submit_form(){
    country = $("#id_country").val();
    state = $("#id_states").val();
    city = $("#id_cities").val();
    var formdata = $("#submit_form").serialize();
    if(country != "" & state !="" & city!=""){
        data = {
            "action":"form_submit",
            "form_data":formdata,
            "country":country,
            "state":state,
            "city":city
        }
        $.ajax({
            url: "{% url 'where_are_you' %}",
            type: "GET",
            data: data,
            success: function(data){
                    $("#id_data").html("Your Country is <strong>"+ data.country_name +"</strong>, State is <strong>"+
                                        data.state_name + "</strong>, and City is <strong>" + data.city_name + "</strong>" )
            },
        })
    }else{
        if(country == ""){
            $("#id_country_error").html("*This Fied is required");
        }
        if(state == ""){
            $("#id_state_error").html("*This Fied is required");
        }
        if(city == ""){
            $("#id_city_error").html("*This Fied is required");
        }
    }

}

</script>

<script>

$( "#id_country" ).click(function() {
    $("#id_country_error").html("")
});

$( "#id_cities" ).click(function() {
    $("#id_city_error").html("")
});

$( "#id_states" ).click(function() {
    $("#id_state_error").html("")
});

</script>


<script type="text/javascript" src="{% static 'javascript/validate.min.js' %}"></script>

{% endblock js %}
