{% extends "select_geoname/__base.html" %}
{% load staticfiles %}
{% block title %}Search{% endblock title %}

{% block stylesheets %}

<link rel="stylesheet" href="{% static 'css/bootstrap-multiselect.css' %}"></link>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css" type="text/css">
{% endblock stylesheets %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 towards_bottom">
            <h1>Where Are You</h1>
        </div>
    </div>

    <div class="row towards_bottom">
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
            <div class="dropdown">
                <select id="id_country" class="form-control" name="countries" onchange="load_states();">
                  <option value="">Select Country</option>
                  {% for country in countries %}
                  <option value="{{country.id}}">{{country.name}}</option>
                  {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dropdown">
                <select class="form-control" id="id_states" name="states" onchange="load_cities();" >
                    <option value="">Select State</option>
                    {% for reg in region %}
                    <option value="{{reg.name_std}}">{{reg.name_std}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dropdown">
                <select class="form-control" id="id_cities" name="cities">
                  <option value="">Select City</option>
                  {% for city in citys %}
                    <option value="{{city.name}}">{{city.name}}</option>
                  {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block js %}

<script>

function load_states(){
    country_id = $("#id_country").val();
    data = {
        "action":"for_states",
        "country_id":country_id,
    }
    $.ajax({
        url: "{% url 'where_are_you' %}",
        type: "GET",
        data: data,
        success: function(response) {
            $("#id_states").html(response.data);
            // var city = getParamValue('city');
            // if (city){
            //    $("select[name='city']").val(city);
           }
    })

}

</script>

<script>

function load_cities(){
    state_id = $("#id_states").val();
    alert(state_id);
    data = {
        "action":"for_cities",
        "state_id":state_id,
    }
    $.ajax({
        url: "{% url 'where_are_you' %}",
        type: "GET",
        data: data,
        success: function(response) {
            $("#id_cities").html(response.data);
            // var city = getParamValue('city');
            // if (city){
            //    $("select[name='city']").val(city);
           }
    })

}

</script>


<script type="text/javascript" src="{% static 'javascript/validate.min.js' %}"></script>

{% endblock js %}
